python-telegram-bot[job-queue,rate-limiter]==21.10
SQLAlchemy==2.0.36
alembic==1.14.0
psycopg[binary]==3.2.3
python-dotenv==1.0.1
jinja2==3.1.4
pydantic==2.10.4
pytz==2024.2
pypdf==5.1.0
cryptography==44.0.0
